---
import astroLogo from '@assets/astro.svg'
import background from '@assets/background.svg'
import { ReactMovieTable } from '@components/ReactMovieTable'
import './index.css'

const columns = [
  {
    title: 'Name',
    dataIndex: 'name',
    key: 'name'
  },
  {
    title: 'Description',
    dataIndex: 'description',
    key: 'description'
  },
  {
    title: 'Year of release',
    dataIndex: 'releaseYear',
    key: 'releaseYear'
  },
  {
    title: 'Country',
    dataIndex: 'countryMade',
    key: 'countryMade'
  }
]
---

<section id="container">
  <img id="background" src={background.src} alt="" fetchpriority="high" />
  <main>
    <section id="hero">
      <a href="https://astro.build">
        <img src={astroLogo.src} width="115" height="48" alt="Astro Homepage" />
      </a>

      <ReactMovieTable client:load columns={columns} />
    </section>
  </main>
</section>
