---
import astroLogo from '@assets/astro.svg'
import background from '@assets/background.svg'
import { ReactMovieTable } from '@components/ReactMovieTable'

import './index.css'
// import { getMovies } from '@api/movies'
// import type { MovieEntity } from '@ts/movie'

const columns = [
  {
    dataIndex: 'name',
    key: 'name',
    title: 'Name'
  },
  {
    dataIndex: 'description',
    key: 'description',
    title: 'Description'
  },
  {
    dataIndex: 'releaseYear',
    key: 'releaseYear',
    title: 'Year of release'
  },
  {
    dataIndex: 'countryMade',
    key: 'countryMade',
    title: 'Country'
  }
]

// const movieListDB = (await getMovies()) as MovieEntity[]
---

<section id="container">
  <img alt="" fetchpriority="high" id="background" src={background.src} />
  <main>
    <section id="hero">
      <a href="https://astro.build">
        <img alt="Astro Homepage" height="48" src={astroLogo.src} width="115" />
      </a>

      <ReactMovieTable client:load columns={columns} />
    </section>
  </main>
</section>
