---
import MovieForm from '@islands/MovieForm/index.astro'
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
import MovieTable from '@islands/MovieTable/index.astro'
import Layout from '@layouts/Layout.astro'
---

<Layout>
  <section class="main-section">
    <MovieForm />
    <MovieTable />
  </section>
</Layout>

<style>
  .main-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2.5%;
    justify-content: center;
    align-content: center;
  }
</style>
