---
import { faker } from '@faker-js/faker'
import astroLogo from '../assets/astro.svg'
import background from '../assets/background.svg'
import TableIsland from '../islands/TableIsland'
import type { Movie } from '../ts/movie'
import './Welcome.css'

const randomNumber = faker.number.int({ min: 5, max: 15 })
const randomMovies: Movie[] = Array(randomNumber)
  .fill(null)
  .map(() => ({
    name: faker.word.words(3),
    description: faker.lorem.sentence(),
    releaseYear: faker.number.int({ min: 1990, max: 2026 }),
    countryMade: faker.location.country()
  }))

const columns = [
  {
    title: 'Name',
    dataIndex: 'name',
    key: 'name'
  },
  {
    title: 'Description',
    dataIndex: 'description',
    key: 'description'
  },
  {
    title: 'Year',
    dataIndex: 'releaseYear',
    key: 'releaseYear'
  },
  {
    title: 'Country',
    dataIndex: 'countryMade',
    key: 'countryMade'
  }
]
---

<section id="container">
  <img id="background" src={background.src} alt="" fetchpriority="high" />
  <main>
    <section id="hero">
      <a href="https://astro.build">
        <img src={astroLogo.src} width="115" height="48" alt="Astro Homepage" />
      </a>

      <TableIsland client:load table={{ dataSource: randomMovies, columns }} />
    </section>
  </main>
</section>
