---
const listOfLinks = [
  { label: 'Home', page: '/' },
  { label: 'Movies', page: '/movies' },
  { label: 'Users', page: '/users' }
]
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width" name="viewport" />
    <link href="/favicon.svg" rel="icon" type="image/svg+xml" />
    <link href="/favicon.ico" rel="icon" />
    <meta content={Astro.generator} name="generator" />
    <title>Moviegraphy</title>
  </head>
  <body>
    <header>
      {listOfLinks.map(_link => <a href={_link.page}>{_link.label}</a>)}
    </header>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family:
      -apple-system, 'system-ui', 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }
  header {
    width: 100vw;
    padding: 2em 0;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid rgba(0, 0, 0, 0.88);
    margin-bottom: 2em;
  }
  header > a {
    color: black;
    text-decoration: none;
  }
  header > a:hover {
    color: red;
  }
</style>
