---
import BaseLayout from '@layouts/BaseLayout.astro'
---

<BaseLayout>
  <section class="title">Welcome to Users section</section>
</BaseLayout>

<style>
  section.title {
    text-align: center;
  }
</style>
